<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Target Practice</title>
</head>
<body>
<form action="/walkOrDrive" method="POST">
    <p>Walking distance: <input type="number" min="0" max="1" step="any"id="num1" name="num1"></p>
    <br>
    <p>1 for good weather<br>2 for bad weather</p>
    <p>Weather:<input  type="number" min="1" max="2" id="num2" name="weather"></p>
    <br>
    <button>Walk or Drive?</button>
    <br>
</form>
{{#answer}}
    <p id="total">Should you walk or drive? {{.}}</p>
{{/answer}}
{{^answer}}
    You haven't put in an answer to know!
{{/answer}}
</body>
</html>